<div class="container">
  <%= link_to [:admin, @admin_room.building], class: 'button button-secondary' do %>
    <span class="fa fa-arrow-left"></span>Back
  <% end %>
<h1>Editing Room</h1>

<%= render 'form', admin_room: @admin_room %>

<%= link_to 'Show', [:admin, @admin_room.building, @admin_room] %>
</div>