<div class="container">
  <%= link_to [:admin, @admin_lesson.course], class: 'button button-secondary' do %>
    <span class="fa fa-arrow-left"></span>Back
  <% end %>
<h1>Editing Lesson</h1>

<%= render 'form', admin_lesson: @admin_lesson %>

<%= link_to 'Show', [:admin, @admin_lesson.course, @admin_lesson] %>
</div>