@font-face {
    font-family: 'font-awesome';
    src: font-url('fa-light-300.eot') format('embedded-opentype'), font-url('fa-light-300.svg') format('svg'), font-url('fa-light-300.ttf') format('truetype'), font-url('fa-light-300.woff') format('woff'), font-url('fa-light-300.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    src: font-url('Roboto-light.ttf') format('truetype');
}