<footer>
  <div>
    <p>Vytvořil Radek Rous</p>
    <p>A takové ty další věci, které se píší do footeru</p>
  </div>
  <div>
    <p>Tady je třeba můj <a href="https://github.com/Ropack/UC-Web-HW">Github</a></p>

  </div>
</footer>