<header>
  <nav class="navigation-on-top">
    <ul class="menu navigation-body">
      <li><%= link_to 'Meeting Center', root_path %></li>
      <li><%= link_to 'Kontakt', contact_path %></li>
      <li><%= link_to 'Administration', admin_root_path %></li>
    </ul>
    <div class="nav-toggle-btn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>