<div class="container">
  <%= link_to admin_buildings_path, class: 'button button-secondary' do %>
    <span class="fa fa-arrow-left"></span>Back
  <% end %>
<h1>New Building</h1>

<%= render 'form', admin_building: @admin_building %>
</div>