<div class="container">
  <h1>Kontakt</h1>

  <section class="section-contact">
    <div>
      <h3>Adresa sídla školy</h3>
      <address>
        <strong>Unicorn College s.r.o.</strong><br />
        V Kapslovně 2767/2<br />
        130 00 Praha 3<br />
        <br />
        Tel.: (+420) 271 097 111<br />
        Fax: (+420) 221 400 114<br />
        <br />
        info@unicorncollege.cz<br />
        www.unicorncollege.cz<br />
        <br />
        IČ: 27169511<br />
        DIČ: CZ699004029
      </address>
    </div>
    <div class="image">
      <%= image_tag "building1.jpg", alt: 'Unicorn College' %>
    </div>
  </section>
</div>